*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
    min-height: 100vh;
    max-width: 1620px;
    justify-self: center;
    width: 100%;
}

.main {
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
    color: black;
}

.fileSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 620px;
}

.uploadTitle,
.storageTitle {
    font-size: var(--fs-h2);
    font-weight: 500;
}

.uploadForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#fileUploadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    padding: 2rem;
}

.fieldError:empty {
    display: none;
}

.fieldError {
    color: #ff6b6b;
}

.uploadBtn:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.uploadContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

input[type=file] {
    padding: 2rem;
    border: 1px dashed black;
}

input[type=file]::file-selector-button {
    border: 1px solid black;
    background: none;
    padding: 0.3rem 0.5rem;
    color: black;
    margin-right: 1rem;
    cursor: pointer;
}

.uploadOptions {
    display: flex;
    gap: 4px;
    border: none;
    width: 100%;
}

legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: none;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radio {
    cursor: pointer;
    position: relative;
    border: 1px solid black;
    user-select: none;
    flex: 1;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.radio:hover{
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.radio:has(input:checked) {
    font-weight: bold;
}

select {
    padding: 0.5rem;
    border: 1px solid black;
    background: none;
    color: black;
    width: 100%;
}

input[type='text'] {
    background: none;
    border: 1px solid black;
    padding: 0.5rem;
    color: black;
}

input {
    width: 100%;
}

.storageHeaderContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.createFolderContainer {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

input:focus,
select:focus {
    outline: none;
    border-color: black;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
}

input::placeholder {
    color: black;
    font-style: italic;
}

.uploadBtn {
    padding: 0.5rem;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    color: black;
}


.uploadOptionContent {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
}

.storageSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
}

.folderOverview {
    border: 1px solid black;
    border-bottom: none;
}

.file,
.folder {
    border-bottom: 1px solid black;
    padding: 0.5rem 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    text-decoration: none;
}

svg {
    flex-shrink: 0;
}


.storageHeader {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none !important;
}

.createFolderForm {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.folderNameInputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.errorMessageContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.serverErrors {
    padding-left: 0.2rem;
    color: #ff6b6b;
    border: 1px solid #ff6b6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}

.closeErrorBtn {
    border: none;
    background: none;
    color: #ff6b6b;
    padding: 0.5rem;
}

.createFolderInput {
    width: 100%;
}

.toggleCreateFolderBtn {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.createFolderBtn {
    background: none;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    padding: 0.5rem;
    align-self: end;
}

#newFolderName,
#createFolderInput {
    text-transform: lowercase;
}

.createFolderBackendError:empty {
    display: none;
}

@media (min-width: 1000px) {
    .main {
        flex-direction: row;
        align-items: unset; 
        justify-content: center;
    }
}