.header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-bottom: 1px solid black;
}

.authLink {
    padding: 0.3rem 0.5rem;
    color: white;
    background-color: black;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.authLink:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

