*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    padding: 1.5rem;
}

.loginHeader {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid black;
}

.homeLink {
    border: 1px solid black;
    padding: 0.3rem 1rem;
    color: black;
    text-decoration: none;
    justify-self: start;
}

.loginMain {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.loginMainTitle {
    font-weight: 500;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

input {
    padding: 0.5rem;
    border: 1px solid black;
    background: none;
    color: black;
}

input:focus {
    outline: none;
    border-color: black;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.fieldError {
    color: #ff6b6b;
}

.loginBtn {
    padding: 0.3rem 1.5rem;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    margin-top: 1rem;
}

.registerLink {
    text-decoration:underline;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.closeErrorBtn {
    border: none;
    background: none;
    color: #ff6b6b;
    padding: 0.5rem;
}

.hidden {
    display: none !important;
}

.backendErrors {
    color: #ff6b6b;
    border: 1px solid #ff6b6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background: rgba(255, 107, 107, 0.1);
    padding: 0.5rem;
}

.homeLink:hover,
.loginBtn:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.fieldError:empty {
    display: none;
}