*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    padding-inline: 1rem;
}

.registerHeader {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-bottom: 1px solid black;
}

.homeLink {
    justify-self: start;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.3rem 1rem;
    transition: transform 0.2s ease;
}

.registerMain {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.errorMessage {
    color: red;
}

.errorMessage:empty {
    display: none;
}

.registerMainTitle {
    font-weight: 500;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5rem;
    border: 1px solid black;
    background: none;
    color: black;
}

input::placeholder {
    color: gray;
    font-style: italic;
}

input:focus {
    outline: none;
    border-color: black;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.backendErrors {
    display: grid;
    grid-template-columns: 1fr auto;
    color: red;
    border: 1px solid red;
    padding: 0.5rem;
}

.hidden {
    display: none;
}

.closeErrorBtn {
    border: none;
    background: none;
    color: red;
    cursor: pointer;
}

svg {
    display: block;
}

.createAccountBtn {
    padding: 0.3rem 1.5rem;
    background: black;
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease;
}

.loginLink {
    text-decoration: underline;
    color: black;
}

.createAccountBtn:hover,
.homeLink:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

